app:
  host: ...
  port: ...

token:
  secret: ...
  expiration_time: ...
  algorithm: ...

database:
  name: ...
  user: ...
  password: ...
  host: ...
  port: ...
  admin_user: ...
  admin_password: ...